<html>

  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://chiefwoods.github.io/footer-template/template.css">
    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
    <main>
      <h1>404</h1>
      <p>Page not found.</p>
      <%- include('nav')%>
    </main>
    <%- include('footer') %>
  </body>

</html>