<footer>
  <span class="made-by">Copyright @
    <script>document.write(new Date().getFullYear())</script> ChiefWoods
  </span>
  <a class="github-link" href="https://github.com/ChiefWoods/mini-message-board" target="_blank">
    <img src="github.svg" class="github-icon" alt="GitHub">
  </a>
</footer>
